html,body {
	margin:0;
	padding:0;
}

body {
    color: #000000;
	font: 76% arial,sans-serif;
	text-align:center;
}

p {
	margin:0 10px 10px;
}

a {
	padding:5px;
	text-decoration:none;
	color:#000000;
}

td, input {
	font-family: Verdana, Tahoma, Arial; 
	font-size: 10;
}

div#list_art_most_read {
	margin:15px 0px; 
	padding:1px;
}
		
div#header {
	border: 1px dotted black;
}
		
div#header h1 {
	height:80px;
	line-height:80px;
	margin:0;
	padding-left:10px;
}

div#container {
	text-align:left;
}

div#content p {
	line-height:1.4;
}

div#navigation {
    border: 1px dotted black;
}

div#navigation ul {
	margin:15px 0; 
	padding:0;
	list-style-type:none;
}

div#navigation li {
	margin-bottom:3px;
}

div#extra {
	width: 780px;
	border: 1px dotted black;
}

div#footer {
	border: 1px dotted black;
}
div#footer p {
	margin:0;
	padding:5px 10px;
}

div#container {
	width:950px;
	margin:0 auto;
}
		
div#content {
	float: right;
	clear: right;
	width:700px;
	border: 1px dotted black;
	color:#000000;
	padding:15px;
}
		
div#navigation {
	float:left;
	width:200px;
	padding:5px;
	border: 1px dotted black;
}

div#extra { 
	float:left;
	clear:left;
	width:189px;
	padding: 10px;
    border: 1px dotted black;
}

div#footer {
	clear:both;
	width:100%;
	border: 1px dotted black;
}

.code{
	border : 1px solid #444;
	background-color: #222;
	width : 500px;
	padding: 10px;
	position: static;
	overflow: auto;
}