html,body {
	margin:0;
	padding:0;
}

body {
	font: 76% arial,sans-serif;
	text-align:center;
}

p {
	margin:0 10px 10px;
}

a {
	padding:5px;
	text-decoration:none;
	color:#000000;
}

td, input {
	font-family: Verdana, Tahoma, Arial; 
	font-size: 10;
}

div#list_art_most_read {
	margin:15px 0; 
	padding:1;
}
		
div#header {
	background-color:#F3F2ED;
}
		
div#header h1 {
	height:80px;
	line-height:80px;
	margin:0;
	padding-left:10px;
}

div#container {
	text-align:left;
}

div#content p {
	line-height:1.4;
}

div#navigation {
	background:#F6F0E0;
}

div#navigation ul {
	margin:15px 0; 
	padding:0;
	list-style-type:none;
}

div#navigation li {
	margin-bottom:3px;
}

div#extra {
	background:#CCC8B3;	width: 780px;
}

div#footer {
	background:#BFBD93;
}
div#footer p {
	margin:0;
	padding:5px 10px;
}

div#container {
	width:950px;
	margin:0 auto;
}
		
div#content {
	float:right;
	width:735px;
}
		
div#navigation {
	float:left;
	width:200px;
	padding:5px;
}

div#extra { 
	float:left;
	clear:left;
	width:200px;
}

div#footer {
	clear:both;
	width:100%;
}
